@import '../../theme.css';

.container {
  display: inline-flex;
  border: 1px solid var(--mat-primary);
  border-radius: 4px;
}

._element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.4rem;
  border: none;
  background-color: var(--mat-primary);
  color: var(--mat-primary-text);
}

.button {
  composes: _element;
  cursor: pointer;
  width: 4.4rem;
}

.button:hover {
  background-color: var(--dark-accent);
  font-weight: bold;
}

.label {
  composes: _element;
  width: 12rem;
}