.logo {
  font-weight: normal;
}

.form {
  margin-left: 3rem;
  display: flex;
  border: 1px solid #242424;
  border-radius: 4px;
}

.input {
  background-color: #292929;
  border: none;
  height: 4.4rem;
  width: 55rem;
  padding: .5rem 1rem;
  color: white;
  font-size: 1.6rem;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.4rem;
  height: 4.4rem;
  border: none;
  background-color: #292929;
}

.button:hover {
  background-color: #1f1f1f;
}

.icon {
  color: white;
}