@import '../../theme.css';

.logo {
  font-weight: normal;
}

.form {
  margin-left: 3rem;
  display: flex;
  border: 1px solid var(--mat-primary);
  border-radius: 4px;
}

.input {
  background-color: var(--mat-primary);
  border: none;
  height: 4.4rem;
  width: 55rem;
  padding: .5rem 1rem;
  color: white;
  font-size: 1.6rem;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.4rem;
  height: 4.4rem;
  border: none;
  background-color: var(--mat-primary);
}

.button:hover {
  background-color: var(--dark-accent);
}

.icon {
  color: var(--mat-primary-text);
}

@media screen and (max-width: 800px) {
  .form {
    margin: 20px auto 0;
    width: 80%
  }

}