@import '../../theme.css';

.result {
  margin-bottom: 20px;
  color: var(--mat-primary-text);
  border-radius: 2px;
  padding: 10px;
  width: 100%;
}

.result:hover {
  background-color: var(--mat-primary);
}

.title {
  margin-bottom: 4px;
}

.link {
  color: var(--mat-primary);
  text-decoration: none;
  font-size: 13px;
}

.result:hover .link {
  color: white;
}

.snippet {
  color: var(--mat-secondary-text);
  font-size: 13px;
}