.result {
  margin-bottom: 20px;
  color: white;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
}

.result:hover {
  background-color: #434343;
}

.title {
  margin-bottom: 4px;
}

.link {
  color: #434343;
  text-decoration: none;
  font-size: 13px;
}

.result:hover .link {
  color: white;
}

.snippet {
  color: #c2c2c2;
  font-size: 13px;
}